
<div class="animated fadeIn">
    <div class="">
        <div class="row">
            <div class="col-md-6">
                <span><h3>Podcast Category Details</h3></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <img class="customeImage" width="80px" height="80px" [src]="isImageUrl" alt="">
                    <span *ngIf="imgURL==''">NA</span>
                </div>
            </div>
            <div>
			     <!--   <video width="220" height="140" controls>
				    <source src="{{songURL}}" type="video/mp4">
			       </video>
            	   </div> -->

            	    <div *ngIf="songURL?.length>0">
		                   <video width="220" height="140" controls>
						    <source src="{{songURL}}" type="video/mp4">
					       </video>
                    </div>

            <div class="col-md-6">
            	  
                <div class="input-group">
                  <strong>Podcast Title: {{getPodcast?.name}}</strong>
                </div>
                <div class="input-group">
                    <strong>Podcast details: {{getPodcast?.details}}</strong>
                </div>
            </div>
        </div>

    </div>
    <!-- LOADER -->
    <div *ngIf="isLoading" class="loder">
        <img src="assets/images/loader.gif" alt="loader" />  
    </div>
</div>