<div class="page_indide">
    <div class="page_heading"> 
        <h2>Home</h2>
    </div>
       

    <div class="contact_main_area">
        <div class="card-body"> 
            <div class="row"> 
                <div class="col-12">
                    <form  [formGroup]="addForm"  autocomplete="off" (ngSubmit)="updateHome()">
                        <div class="form-group">
                            <ckeditor  [editor]="Editor" data="" formControlName="sub_title" ></ckeditor>
                            <ckeditor  [editor]="Editor" data="" formControlName="title_one" ></ckeditor>
                            <ckeditor  [editor]="Editor" data="" formControlName="title_two" ></ckeditor>
                            <ckeditor  [editor]="Editor" data="" formControlName="youtube_link" ></ckeditor>     
                        </div>
                        <div class="form-group text-right">
                        <button type="submit" class="btn btn btn-danger ">Save</button>
                        </div>
                    </form>
                </div>
            </div>        
        </div>
    </div> 
    
     

</div> 

<!-- LOADER -->
<div align="center" *ngIf="isLoading" class="loder">
    <img src="assets/images/loader.gif" alt="loader" />  
</div>
